<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abin.app.micro_app.proxy.impl.db.mapper.UserWorkPOMapper">
    <resultMap id="BaseResultMap" type="com.abin.app.micro_app.proxy.impl.db.po.UserWorkPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="work_content" jdbcType="VARCHAR" property="workContent"/>
        <result column="share_code" jdbcType="VARCHAR" property="shareCode"/>
        <result column="use_count" jdbcType="INTEGER" property="useCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_name, type, work_content, share_code, use_count, create_time, update_time
    </sql>

    <select id="selectByShareCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_work
        where share_code = #{shareCode,jdbcType=VARCHAR}
    </select>

    <select id="getUserWorkShareCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select sum(use_count)
        from user_work
        where user_name = #{username,jdbcType=VARCHAR}
    </select>

    <select id="getUserWorkCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*)
        from user_work
        where user_name = #{username,jdbcType=VARCHAR}
    </select>

    <insert id="batchInsert" parameterType="map">
        insert into user_work
        (user_name, type, work_content, share_code, use_count
        )
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.userName,jdbcType=VARCHAR}, #{item.type,jdbcType=TINYINT},
            #{item.workContent,jdbcType=VARCHAR}, #{item.shareCode,jdbcType=VARCHAR}, #{item.useCount,jdbcType=INTEGER})
        </foreach>
    </insert>

    <insert id="addWorkUseCount" parameterType="java.lang.String">
        update user_work
        set use_count = use_count + 1
        where share_code = #{shareCode,jdbcType=VARCHAR}
    </insert>
</mapper>